body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #6495ED;
    background-image: url("C:\Users\coron\Desktop\Boolean\The Booleaner\html-css-booleaner\img\pattern.png");
    height: 150px;
}
h2{
    color: white;
    display: inline;
}
h1{
    font-size: 3em;
    margin-bottom: 1px;
}
Section.Titolo p{
    margin-top: 1px;
    margin-bottom: 1px;
}