body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
header{
    background-color: #6495ED;
    background-image: url("../img/pattern.png");
    height: 150px;
    font-size: 1.5em;
}
h2{
    color: white;
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
/* main */
.container{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    font-size: 3em;
    margin-bottom: 1px;
}
p.trasparenza span{
    color: #6495ED;
}
Section.Titolo p{
    margin-top: 1px;
    margin-bottom: 1px;
}
.immages{
    margin-top: 20px;
}
Section.immages p{
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 80%;
}
.yellow{
    background-color: yellow;
}
ul{
    padding: 20px;
}
/* tabella */
table{
    border-spacing: 0px;
}
.sin{
    width: 33%;
}
.centro{
    width: 33%;
}
.titolo_tabella{
    background-color: #00BFFF;
    color: white;
}
.tab_celeste{
    background-color: #00FFFF;
}
.trasparenza{
    opacity: 0.7;
}
/* footer */
footer{
    margin-top: 50px;
    margin-bottom: 50px;
}
.container-footer{
    margin-left: 20px;
    margin-right: 20px;
}
.img-footer1{
    width: 200px;
    height: 200px;
    background-image: url("../img/monitor.jpg");
    color: white;
    font-size: 1.2em;
}
.img-footer2{
    width: 200px;
    height: 200px;
    background-image: url("../img/graph.jpg");
    color: white;
    font-size: 1.2em;
}
.container-footer p{
    color: white;
    text-align: center;
}
